.nav
{
    font-family:'Courier New', Courier, monospace;
    
}
ul 
{
    list-style: none;
}
ul li a 
{
    

    text-decoration:none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color: black;
    
}
.mid
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer
{
    color: aliceblue;
}
